body {
    font-family: verdana, "times new roman", sans-serif;
}

h1 {
    background-color: rgb(193, 208, 24);
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    font-style: oblique;
    padding: 10px;
    border: 20px;
    border: 2px solid black;
    margin: 50px;
    width: 150px:
}
.recipe-list {
    font-weight: 500px;
    font-size: 20px;
    color: #8f1600;
    font-style: oblique;
}

img {
    margin: 30px;
}